@using stajrapor.Models
@model OrderDetails
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<seciton class="content">
    <div>
        <h4>Sipariş Bilgileri</h4>
        <hr />
        <div class="row">
            @if (TempData["mesaj"] != null)
            {
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4>	<i class="icon fa fa-check"></i> BAŞARILI!</h4>
                   Bilgileriniz Kaydedildi
                </div>
            }

        </div>
        <dl class="dl-horizontal">
            <dt>
                Sipariş Durumu
            </dt>

            <dd>
              @using (Html.BeginForm("UpdateOrderState", "Order", FormMethod.Post))
              {
                  @Html.HiddenFor(i=>i.OrderId)
                  @Html.EnumDropDownListFor(i=>i.OrderState, "Sipariş Durumu Seç", new { @class="form-control"})
              <button type="submit" class="btn btn-primary">Güncelle</button>
              }
            </dd>

            <dt>
                Kullanıcı Adı
            </dt>

            <dd>
                @Html.DisplayFor(Model => Model.UserName)
            </dd>
            <dt>
                Sipariş Numarası
            </dt>

            <dd>
                @Html.DisplayFor(Model => Model.OrderNumber)
            </dd>
            <dt>
                Toplam Tutar
            </dt>

            <dd>
                @Html.DisplayFor(Model => Model.Total)
            </dd>
            <dt>
                Sipariş Tarihi
            </dt>

            <dd>
                @Html.DisplayFor(Model => Model.OrderDate)
            </dd>
            <dt>
                Adres
            </dt>

            <dd>
                Adres:   @Html.DisplayFor(Model => Model.Adres)  <br />
                Şehir:   @Html.DisplayFor(Model => Model.Sehir)  <br />
                Semt:   @Html.DisplayFor(Model => Model.Semt)  <br />
                Mahalle:   @Html.DisplayFor(Model => Model.Mahalle)  <br />
                Posta Kodu:   @Html.DisplayFor(Model => Model.PostaKodu)  <br />
            </dd>

        </dl>
    </div>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Sipariş ID</th>
                <th>Sipariş Numarası</th>
                <th>Sipariş Tarihi</th>
                <th>Toplam Tutar (₺) </th>
                <th>Sipariş Durumu</th>
                <th>Adres</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>@Model.OrderId</td>
                <td>@Model.OrderNumber</td>
                <td>@Model.OrderDate</td>
                <td>@Model.Total</td>
                <td>
                    @if (Model.OrderState == stajrapor.Entity.OrderState.Bekleniyor)
                    {
                        <a class="btn btn-danger">Sipariş Bekleniyor</a>
                    }
                    else if (Model.OrderState == stajrapor.Entity.OrderState.Tamamlandı)
                    {
                        <a class="btn btn-success">Sipariş Tamamlandı</a>
                    }
                    else if (Model.OrderState == stajrapor.Entity.OrderState.Paketlendi)
                    {
                        <a class="btn btn-info">Sipariş Paketlendi</a>
                    }
                    else if (Model.OrderState == stajrapor.Entity.OrderState.Kargolandı)
                    {
                        <a class="btn btn-primary">Sipariş Kargolandı</a>
                    }







                </td>
                <td>@Model.Adres</td>
                <td>@Model.Sehir</td>
                <td>@Model.Semt</td>
                <td>@Model.Mahalle</td>
                <td>@Model.PostaKodu</td>

            </tr>



        </tbody>
    </table>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Resim</th>
                <th>Ürün Adı</th>
                <th>Toplam Tutar (₺) </th>
                <th>Adet</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderLines)
            {
                <tr>
                    <td><img src="~/Content/image/@item.Image" height="75" width="75"</td>
                    <td>@item.ProductName</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td><a href="/Home/ProductDetails/@item.ProductId" class="btn btn-success" target="_blank">Ürün Detay</a></td>



                </tr>
            }


        </tbody>
    </table>


</seciton>

